<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Reg</h1>
    <form action="http://127.0.0.1:5000/ptstud" method="post">
        <label for="">Enter your name</label>
        <input type="text" name="fn"><br>
        <label for="">Enter your email</label>
        <input type="email" name="em"><br>
        <label for="">Enter your phone</label>
        <input type="number" name="ph"><br>


        <input type="submit" value="SIGN IN ">
    </form>
    
    
</body>
</html>