<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="">Enter ur name</label>
        <input type="text" name="fname"><br>
        <label for="">Enter ur email</label>
        <input type="email" name="em"><br>
        <label for="">password</label>
        <input type="text" name="pass"><br>
        <input type="submit" value="submit" id="">
    </form>   
</body>
</html>