<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <h1>login page</h1>
        <label for="">Enter your name</label>
        <input type="text" name="fn"><br>
        <label for="">Enter your email</label>
        <input type="email" name="em"><br>
        <label for="">phone number</label>
        <input type="number" name="ph"><br>


        <input type="submit" value="login ">
</body>
</html>